/***** Fonts *****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;900&family=Potta+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* =======================
Header Navbar Social Media
======================= */
header {
    position: relative;
    z-index: 99;
}
header nav .nav-social {
    width: 100%;
    padding: .5rem 0;
    background: linear-gradient(to right, rgb(86, 118, 246), rgb(40, 40, 97));
    text-align: right;
}

header nav .nav-social .social-media .social-icon  {
    color: #fff;
    margin: auto 8px;
    position: relative;
}
header nav .nav-social .social-media .social-icon:last-child {
    margin-right: 100px;
}

header nav .nav-social .social-media .social-icon::after {
    content: '';
    position: absolute;
    height: 200%;
    width: 1px;
    background-color: rgb(74, 98, 141);
    top: -50%;
    right: -9px;
}

.facebook::before {
    content: '';
    position: absolute;
    height: 200%;
    width: 1px;
    background-color: rgb(74, 98, 141);
    top: -50%;
    left: -9px;
}

header nav .nav-items {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18 62 88 / 29%);
    padding: 0 4rem;
    position: relative;
}
header nav .nav-items .logo a {
    text-decoration: none;
    color: #fff;
    font-size: clamp(16px, 3.5vw, 30px);
}


header nav .nav-items .links li {
    display: inline;
    text-transform: uppercase;
}

header nav .nav-items .links li a{
    color: #fff;
    text-decoration: none;
    padding: 0 12px;
    font-size: clamp(15px, 2.5vw, 20px);
}

.nav-icon {
    position: absolute;
    top: 45px;
    right: 20px;
    font-size: 38px;
    color: #fff;
    display: none;
}

/* ===============
Main Section Style
=============== */
#main {
    width: 100%;
    background: url("/assets/images/carousel-1.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top: -100px;
    z-index: 1;
}
#main::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(2 28 56 / 70%);
    z-index: -1;
}

#main .main-text {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

#main .main-text .register-btn {
    margin-top: 40px;
}

#main .main-text .register-btn a {
    text-decoration: none;
    color: #fff;
    padding: .6rem 1.5rem;
    border: 2px solid #fff;
    font-size: 20px;
}

#main .main-text .register-btn a i {
    font-size: 22px;
    margin-right: 8px;
}

#main .form-content {
    width: 400px;
    background-color: #0002;
    margin-top: 30px;
    padding: 1rem;
    color: #fff;
}

#main .form-content .forgot-password a{
    text-decoration: none;
    color: #fff;
}

#main .form-content .submit-btn {
    outline: 1px solid #fff;
    text-align: center;
    border-radius: 5px;
}

#main .form-content .submit-btn button {
    color: #fff;
    font-size: 18px;
    width: 100%;
}
#main .form-content .create-account a {
    text-decoration: none;
    color: #fff;
}

.social-signin .social-icon{
    padding: 1rem;
    border: 2px solid #fff;
    color: #fff;
}

.social-signin .facebook {
    background-color: #4267B2;
}

.social-signin .twitter {
    background-color: #1DA1F2;
}

.social-signin .linkedin {
    background-color: #0072b1;
}

.social-signin .google-plus {
    background-color: #db4a39;
}

/* ===================
About Us Section Style
=================== */
#about {
    padding: 0 5rem;
    align-items: center;
}

#about .about-img img{
    width: clamp(380px, 30vw, 550px);
}

/* ===============================
Same style for about, works heading
=============================== */
#about .about-heading h2, 
#works .works-heading h2,
#partners .partners-heading h2 {
    margin-bottom: 30px;
    font-weight: normal;
    font-size: clamp(25px, 6.5vw, 50px);
    position: relative;
    width: max-content;
}
#about .about-paragraph {
    font-size: clamp(13px, 2vw, 16px);
}

#about .about-heading h2::before, 
#works .works-heading h2::before,
#partners .partners-heading h2::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: -20px;
    background-color: rgba(0, 0, 0, 0.1);
}

/* ===============
Work Section Style
=============== */

#works {
    padding: 0 3rem;
    margin-top: 90px;
}

.works-cards-container .icon {
    margin-bottom: 15px;;
}

/* ===================
Partners Section Style
=================== */

#partners {
    padding: 0 3rem;
    margin-top: 90px;
}

.all-partners {
    vertical-align: center;
}
.all-partners div {
    display: inline;
    width: 100%;
    margin-top: 30px;
}

/* All parteners Icon Images*/
.all-partners div img {
    width: 10%;
    float: right;
    margin: 0 20px;
}

.all-partners .itunes img {
    width: 6%;
}
.all-partners .target img {
    width: 8%;
}
.all-partners .Starbucks img {
    width: 9%;
}

/* =================
Footer Section Style
================= */
#footer {
    width: 100%;
    height: 100%;
    margin-top: 200px;
    padding: 80px;
    padding-bottom: 30px;
    background-color: #093851;
}

#footer .all-contacts{
    position: relative;
}

#footer .all-contacts::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 100%;
    background-color: rgb(3, 118, 128);
}

#footer h5{
    color: #fff;
    margin-bottom: 40px;
    position: relative;
    width: max-content;
}

#footer h5::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 50%;
    height: 2px;
    background-color: #277ed5;
}

#footer a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: clamp(15px, 3vw, 20px);
    margin-top: 10px;
}

#footer .contact-us .contact-details{
    width: max-content;
}

#footer .contact-us .contact-details a i {
    margin-right: 10px;
}
#footer .contact-us .contact-details .social {
    margin-top: 10px;
}
#footer .contact-us .contact-details .social a {
    display: inline;
}

#footer .copy-right{
    color: #fff;
    margin-top: 70px;
    margin-left: 20px;
    width: max-content;
    font-size: clamp(12px, 2vw, 18px);
}